{erl_opts, [debug_info]}.
{deps, []}.
{plugins, [
    { rebar3_cargo, ".*", {git, "https://github.com/rusterlium/rebar3_cargo", {ref, "7367fb53d77d3f1b13c3ddaa85bc75c08e295743"}}}
]}.
{provider_hooks, [
    {pre, [{compile, {cargo, build}}]},
    {post, [
        {clean, {cargo, clean}},
        {eunit, {cargo, test}}
    ]}
]}.
